asgiref==3.2.5
ctypes-callable==1.0.0.post2
dj-database-url==0.5.0
Django==3.0.4
django-crispy-forms==1.9.0
gunicorn==20.0.4
lxml==4.5.0
netifaces==0.10.9
numpy==1.18.2
pandas==1.0.3
Pillow==7.0.0
psycopg2==2.8.4
py==1.8.1
pyshark==0.4.2.9
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
whitenoise==5.0.1
